body {
    background-image: url("../image/download.jpeg");
  }

.jumbotron {
    font-family: 'Alfa Slab One', cursive;
    background-image: url("../image/pizza.jpeg");
    background-size: contain;
    text-shadow: 1px 1px 10px #fff;
  }